header {

    .up-header {
        height: 20px;
        background-color: rgb(12, 124, 236);
        font-size: 10px;
        font-weight: 600;
        color: white;

        .container {
            display: flex;
            justify-content: flex-end;

            div {
                margin-left: 50px;
            }
        }

    }

    #header_container {
        @include flex-between-center;
        height: 100px;

        #logo {
            width: 70px
        }

        nav {
            ul {
                @include flex-around;
                list-style: none;
                font-size: 12px;

                li {
                    margin-left: 20px;

                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }

        #s {

            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 2px solid rgb(12, 124, 236);
            max-width: 150px;


            &::placeholder {
                text-align: right;
            }
        }
    }






}